# vscode
.vscode

# npm
node_modules

# Exclude sourcemaps
*.map

# obsidian
data.json

# Exclude macOS Finder (System Explorer) View States
.DS_Store

# Hot Reload plugin
.hotreload

# This plugin

## Files are copied here on `pnpm run build`.
/dist/

## Sym-linked to the plugin's folder in the dev/test vault. Files are copied here `pnpm run dev`.
## Git stores symlinks as a special file containing the target path string, not as a directory. So the gitignore rule needs to match a file, not a directory pattern.
dev-vault

## Temporary files
temp

main.js
styles.css
